*{
	margin:0px;
	padding: 0px;
	box-sizing:border-box;
}
button{
	color:white!important;
	text-decoration:none!important;
}
.hidden{
	display:none;
}
body{
	min-height:100vh;
}
footer{
	position:sticky;
	top:100%;
	width:100%;
}
